/* Transitions*/
.transitions {
    padding-top: 53px;
    display: flex;
}
.transitions__link{
    color: #222222;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.transitions__link_active {
    color: #ffda44;
}
.transitions__link:hover{
    color: #f1d668;
}
.transitions__span {
    color: #222222;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

/* Card-Tires */
.card-tires{
    margin: 50px 0 118px 0;
}    
.card-tires__img-box {
    box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #f9f8f8;
    background-color: #ffffff;
    border-radius: 10px;
}
.card-tires__title-wrapp {
    margin: 19px 0 16px 0;
    border-bottom: 2px solid #f6f6f6;
}
.card-tires__title {
    margin-left: 19px;
    color: #222222;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}
.card-tires__subtitle {
    margin-left: 19px;
    margin-bottom: 16px;
    color: #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}
.card-tires__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-tires__character-title {
    display: flex;
    box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.06);
    border-radius: 10px 10px 0 0;
    background-color: #f6f6f6;
    padding: 34px 0;
}
.card-tires__character-title p {
    color: #222222;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}
.card-tires__character-title_dimensions {
    margin-left: 25px;
}
.card-tires__character-title_price {
    margin-left: 113px;
}
.card-tires__character-title_quantity {
    margin-left: 69px;
}
.card-tires__character-wrapp {
    box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.06);
    border-radius: 0 0 10px 10px;
    border: 1px solid #f6f6f6;
    background-color: #ffffff;
    padding-bottom: 22px;
}
.card-tires__character-box {
    padding: 0 25px;
}
.card-tires__characters-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.card-tires__characters-inner_r16-top {
    border-bottom: 0;
}
.card-tires__characters-inner_r16-bottom {
    margin-top: 0;
}
.card-tires__character-radius {
    color: #222222;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}
.card-tires__character-dimensions {
    display: flex;
    flex-direction: column;
    padding-bottom: 17px;
    width: 113px;
}
.card-tires__character-dimensions_radius-descr {
    color: #222222;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.card-tires__character-dimensions_articul {
    color: #ffda44;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}
.card-tires__character-price {
    color: #222222;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}
.card-tires__character-btn {
    width: 140px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid #ffda44;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
}
.card-tires__character-btn:active{
    background-color: #f5d659;
}
.card-tires__character-btn_hidden {
    display: none;
}
@media (max-width: 1200px){
    .card-tires__character-title_price{
        margin-left: 203px;
    }
    .card-tires__character-title_quantity{
        margin-left: 170px;
    }
}
@media (max-width: 991px){
    .card-tires__character-title_price{
        margin-left: 125px;
    }
    .card-tires__character-title_quantity{
        margin-left: 90px;
    }
}
@media (max-width: 767px){
    .card-tires__img{
        width: 200px;
    }
    .card-tires__character-title_price{
        margin-left: 62px;
    }
    .card-tires__character-title_quantity{
        margin-left: 35px;
    }
}
@media (max-width: 576px){
    .card-tires__character-box{
        padding: 0px 10px;
    }
    .card-tires__img{
        width: 155px;
    }
    .card-tires__character-title{
        justify-content: space-between;
    }
    .card-tires__characters-inner{
        border-bottom: 0;
    }
    .card-tires__character-title_dimensions{
        margin-left: 10px;
    }
    .card-tires__character-title_price {
        margin-left: 70px;
    }
    .card-tires__character-title_quantity{
        margin-right: 10px;
    }
    .card-tires__character-btn{
        display: none;
    }
    .card-tires__character-btn_hidden{
        display: block;
        margin: 0 auto;
    }
    .card-tires__border-bottom {
        display: block;
        border-bottom: 1px solid rgba(0,0,0, 0.1);
        padding-bottom: 15px;
    }
}


/* product-cards */
.product-cards{
    margin: 22px 0 140px 0;
}
.product-cards__link {
    display: block;
    overflow: hidden;
}
.product-cards__box {
    margin: 15px 0px;
    padding: 0px 20px 10px 20px;
    box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #f9f8f8;
    background-color: #ffffff;
}
.product-cards__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-cards__img-link {
    display: block;
    overflow: hidden;
}
.product-cards__icons-wrapp{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 11px;
}
.product-cards__icons{
    display: none;
    margin-left: 11px;
    width: 27px;
    height: 24px;
}
.product-cards__icons_active{
    display: block;
}
.product-cards__content{
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0, 0.1);
}
.product-cards__title{
    display: block;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}
.product-cards__title:hover{
    color: rgba(0,0,0, 0.8);
}
.product-cards__descr{
    margin-top: 17px;
    color: #121217;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}
.product-cards__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.product-cards__price{
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}
.product-cards__count-wrapp{
    display: flex;
}
.product-cards__count-wrapp_minus{
    width: 31px;
    height: 33px;
    border-radius: 7px 0 0 7px;
    border: 1px solid #909090;
}
.product-cards__count-wrapp_number{
    padding-top: 5px;
    width: 50px;
    height: 33px;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    text-align: center;
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}
.product-cards__count-wrapp_plus{
    width: 31px;
    height: 33px;
    border-radius: 0 7px 7px 0;
    border: 1px solid #909090;
}
.product-cards__btn{
    margin-top: 19px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ffda44;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.product-cards__btn:active{
    background-color: #f5d659;
}
.product-cards__presence{
    margin-top: 20px;
    color: #ffda44;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}
.product-cards__switch{
    margin-top: 45px;
    display: flex;
    justify-content: flex-end;
}
.product-cards__switch-wrapp{
    display: flex;
    justify-content: center;
}
.product-cards__switch-left{
    display: block;
    margin-right: 1.5px;
    width: 43px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    color: #cccccc;
}
.product-cards__switch-left:active {
    background-color:  rgba(0,0,0, 0.2);
}
.product-cards__switch-elem{
    display: block;
    margin: 0 1.5px;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #ffda44;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
}
.product-cards__switch-elem_active{
    background-color: #ffda44;
    color: #ffffff;
}
.product-cards__switch-elem:active {
    background-color:  rgba(0,0,0, 0.2);
}
.product-cards__switch-right{
    display: block;
    margin-left: 1.5px;
    width: 43px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    color: #cccccc;
}
.product-cards__switch-right:active {
    background-color:  rgba(0,0,0, 0.2);
}
.product-cards__arrow-active{
    color: #ffda44;
}

/* Goods-card */
.goods-card {
    margin: 65px 0 81px 0;
}
.goods-card__box {
    box-shadow: 3px 4px 9px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #f9f8f8;
    background-color: #ffffff;
}
.goods-card__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.goods-card__icons-wrapp {
    display: flex;
    justify-content: flex-end;
    padding: 0 21px 20px 0;
}
.goods-card__icons {
    display: none;
    margin: 0px 5px;
    width: 30px;
}
.goods-card__icons_active {
    display: block;
}
.goods-card__title-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.goods-card__title {
    color: #222222;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}
.goods-card__subtitle {
    margin-top: 9px;
    color: #ffda44;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
}
.goods-card__time {
    margin-top: 18px;
    color: #222222;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}
.goods-card__brand-link{
    display: block;
    overflow: hidden;
}
.goods-card__price-wrapp {
    margin-top: 49px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.goods-card__price-num {
    margin-top: 3px;
    color: #000000;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
}
.goods-card__price-span {
    font-family: Montserrat;
    font-weight: 400;
    color: #878787;
    font-size: 18px;
}
.goods-card__btn {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffda44;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.goods-card__btn:active {
    background-color: #d4b32c;
}
.goods-card__count {
    margin-top: 10px;
}
.goods-card__info {
    margin-top: 39px;
    display: flex;
}
.goods-card__info-left p {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 17px;
}
.goods-card__info-right {
    margin-left: 71px;
}
.goods-card__info-right p {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 17px;
}
.goods-card__info-right p span{
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 17px;
}
@media (max-width: 992px){
    .goods-card__btn{
        width: 86px;
    }
}
@media (max-width: 767px){
    .goods-card__title-inner {
        margin-top: 30px;
    }
    .goods-card__img {
        width: 155px;
    }
}
@media (max-width: 576px){
    .goods-card__title{
        font-size: 26px;
    }
    .goods-card__price-wrapp {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .goods-card__price-num{
        margin-top: 8px;
        font-size: 30px;
    }

}

/*Options*/
.options {
    margin-top: 37px;
}
.options__title{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #030305;
    margin-bottom: 20px;
}
.options__title span{
    color: #ffda44;
}
.options__param-wrapper{
    display: flex;
}
.options__param1-wrapp p{
    color: #030305;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700; 
}
.options__param1-wrapp p:last-child{
    margin-top: 16px;
}
.options__param2-wrapp{
    margin-left: 18px;
}
.options__param2-wrapp a{
    display: block;
    color: #030305;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.options__param2-wrapp a:hover{
    font-weight: 500;
}
.options__param2-wrapp a:last-child{
    margin-top: 16px;
    text-decoration: underline;
}
.options__ul-inner{
    margin-top: 21px;
    display: flex;
}
.options__ul-title{
    margin-bottom: 15px;
    color: #030305;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
}
.options__ul-wrapp_2{
    margin-left: 122px;
} 
.options__ul li{
    margin-bottom: 16px;
}
.options__link{
    display: block;
    color: #030305;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}
.options__link:hover{
    font-weight: 500;
    color: #030305;
}


/* Count */
.count {
    display: flex;
}
.count__minus {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 30px;
    height: 33px;
    border: 1px solid #909090;
    color: #909090;
    font-size: 25px;
}
.count__minus:active{
    background-color: rgba(0, 0, 0, 0.2);
}
.count__number {
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 7px 0;
    width: 41px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    height: 33px;
}
.count__plus {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30px;
    height: 33px;
    border: 1px solid #909090;
    color: #909090;
    font-size: 25px;
}
.count__plus:active{
    background-color: rgba(0, 0, 0, 0.2);
}